.expense-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem;
  margin: 1rem 0;
  background-color: #464545;
}
.expense-item h2 {
  font-size: 1.2rem;
  flex: 1;
  margin: 1rem;
  color: white;
}
.expense-item__description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  gap: 1rem;
  flex: 1;
}
.expense-item__description h2 {
  font-size: 1.2rem;
}
.expense-item__price {
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background-color: #410e41;
  border: 1px solid white;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 12px;
}
